* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient( 358.7deg,  rgba(42,136,157,1) 1.7%, rgba(122,197,214,1) 51.1%, rgba(211,232,242,1) 95.5% );
}
.wrapper {
  background-color: #ffffff;
  padding: 5em 4em;
  position: absolute;
  width: 31.25em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.5em 3em rgba(122,197,214,1);
}
#userInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 0.5em 1em;
  font-size: 1em;
  outline: none;
}
.options {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  appearance: none;
  width: 8em;
  padding: 0.45em 0.9em;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: rgba(122,197,214,1);
  border: none;
  color: #ffffff;
  background-image: url("arrow.png");
  background-repeat: no-repeat;
  background-size: 1.1em;
  background-position: 6em;
  outline: none;
  border-radius: 0.3em;
}
select::-ms-expand {
  display: none;
}
select option {
  background-color: #ffffff;
  color: rgba(122,197,214,1);
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 1.12em;
}
.selected {
  display: none;
}
.color-inp {
  appearance: none;
  background-color: transparent;
  width: 3.1em;
  height: 3.4em;
  outline: none;
  border: none;
}
.color-inp::-webkit-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid rgba(122,197,214,1);
}
.color-inp::-moz-color-swatch {
  border-radius: 0.3em;
  border: 0.18em solid rgba(122,197,214,1);
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box button,
.box a {
  font-size: 1em;
  padding: 0.8em 2em;
  border-radius: 0.5em;
  margin-top: 2em;
}
.box button:disabled {
  background-color: transparent;
  color: #a3aab6;
  border: 0.18em solid #a3aab6;
}
.box button {
  background-color: transparent;
  color: rgba(122,197,214,1);
  border: 0.18em solid rgba(122,197,214,1);
}
.box a {
  background-color: rgba(122,197,214,1);
  color: #ffffff;
  text-decoration: none;
  border: 0.18em solid rgba(122,197,214,1);
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 1.8em;
}
.hide {
  display: none;
}
footer{
  padding-top: 680px;
  padding-left: 980px;
}
a{
  text-decoration: none;
  color: black;
  
}
